NODE_ENV=test

# Neon/Vercel provides this in deployed environments. Docker uses the POSTGRES_* values below.

POSTGRES_HOST=drawith-postgres
POSTGRES_DB=drawith_test_db
POSTGRES_USER=drawith_test_user
POSTGRES_PASSWORD=drawith-test-password
TEST_APP_URL=http://drawith-app:3000

DRAWITH_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
BETTER_AUTH_SECRET=drawith-test-secret
BETTER_AUTH_URL=http://drawith-app:3000
GRAPHQL_URI=http://drawith-app:3000/api/graphql

