NODE_ENV=test

DRAWITH_DATABASE_HOST=drawith-postgres
DRAWITH_DATABASE_NAME=drawith_db
DRAWITH_DATABASE_USER=drawith_user
DRAWITH_DATABASE_PORT=12345678
DRAWITH_DATABASE_PASSWORD=drawith-test-password
# DRAWITH_DATABASE_CONNECTION_PARAMS=

DRAWITH_GRAPHQL_URI=http://drawith-app:3000/api/graphql
DRAWITH_TEST_APP_URL=http://drawith-app:3000

BETTER_AUTH_SECRET=drawith-test-secret
BETTER_AUTH_URL=http://drawith-app:3000

