.bd-page-container {
	min-height: 100vh;
	background-color: #e8e8e8;
	background-image: radial-gradient(#d2dade 1px, transparent 1px);
	background-size: 18px 18px;
}

.bd-main-workspace {
	min-height: calc(100vh - 70px);
	display: grid;
	grid-template-columns: auto minmax(0, 1fr) 210px;
	gap: 18px;
	padding: 3px 28px 22px;
}

.bd-toolbox-container {
	min-width: 0;
}

.bd-layers-container {
	min-width: 0;
}

.bd-canvas-container {
	min-width: 0;
}

@media (max-width: 760px) {
	.bd-main-workspace {
		min-height: calc(100vh - 70px);
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-template-rows: auto minmax(0, 1fr);
		grid-template-areas:
			"toolbox layers"
			"canvas canvas";
    gap: 12px;
		/* padding: 3px 16px 16px 16px; */
	}

	.bd-toolbox-container {
		grid-area: toolbox;
	}

	.bd-layers-container {
		grid-area: layers;
	}

	.bd-canvas-container {
		grid-area: canvas;
	}

	.bly-layers-panel {
		height: 100%;
		box-sizing: border-box;
  }
}